<div class="review-container">
    <div class="reviews">
      <% @program.reviews.each do |review| %>
              <%= review.username %>
              <time datetime="#" class="card__date"><%= review.created_at %></time>
              <% Review::AUTHORIZED_RATINGS.each do |number| %>
                <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
              <% end %>
                  <%= review.content %>
            <% end %>
    </div>


  <% if @watching && !@already_reviewed %>
      <div class="review">
        <h2>Laissez une évaluation</h2>
        <%= simple_form_for [@program, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, as: :hidden  %>
          <div class="my-3">
            <% Review::AUTHORIZED_RATINGS.each do |index| %>
              <i id="<%= index %>" class="review-rating far fa-star"></i>
            <% end %>
          </div>
          <%= f.submit class: "btn btn-primary", value: "Valider" %>
        <% end %>
      </div>
  <% end %>
</div>
