<div class="review-container">
    <div class="reviews-card">
      <% @program.reviews.each do |review| %>
            <div class="user-review">
                <h4><%= review.username %></h4>
                <time datetime="#" class="card__date"><%= review.created_at %></time>
            </div>
            <div class="rating-review">
                  <% Review::AUTHORIZED_RATINGS.each do |number| %>
                    <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
                  <% end %>
                  <h3><%= review.content %></h3>
            </div>
            <% end %>
    </div>


  <% if @watching && !@already_reviewed %>
      <div class="review">
        <h3>Laissez une évaluation</h3>
        <%= simple_form_for [@program, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, as: :hidden  %>
          <div class="my-3">
            <% Review::AUTHORIZED_RATINGS.each do |index| %>
              <i id="<%= index %>" class="review-rating far fa-star"></i>
            <% end %>
          </div>
          <%= f.submit class: "btn btn-primary", value: "Valider" %>
        <% end %>
      </div>
  <% end %>
</div>
