  <div class="review-container">
    <p>
      Moyenne : <%= @average_rating %>
    </p>
    <div class="reviews">
        <% @program.reviews.each do |review| %>
          <p>
            <% Review::AUTHORIZED_RATINGS.each do |number| %>
              <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
            <% end %>
            <%= review.content %>
          </p>
        <% end %>
    </div>
    <div class="review" data-controller="insert-in-list">
      <div data-insert-in-list-target="items">
          <h2>Laissez une évaluation</h2>
      </div>
        <%= simple_form_for [@program, @review],data: {insert_in_list_target: 'form',
            action: 'submit->insert-in-list#send'}) do |f| %>
          <%= f.input :content %>
          <%= f.input :rating, as: :hidden  %>
          <div class="my-3">
              <% Review::AUTHORIZED_RATINGS.each do |index| %>
                <i id="<%= index %>" class="review-rating far fa-star"></i>
              <% end %>
          </div>
          <%= f.submit class: "btn btn-primary", value: "Valider" %>
        <% end %>
    </div>
  </div>
