<div class="review-container text-center">

  <% if @watching && !@already_reviewed %>
      <h4 class="text-center pb-5 wrapper-title">Laissez un commentaire :</h4>
      <div class="review">
        <%= simple_form_for [@program, @review] do |f| %>
          <%= f.input :content, label: false, input_html: { class: "border-blue"} %>
          <%= f.input :rating, as: :hidden  %>
          <div class="my-3">
            <% Review::AUTHORIZED_RATINGS.each do |index| %>
              <i id="<%= index %>" class="review-rating far fa-star"></i>
            <% end %>
          </div>
          <%= f.submit class: "btn-orange", value: "Valider" %>
        <% end %>
      </div>
    <% else %>
    <h4 class="text-center pb-5 wrapper-title">Commentaires :</h4>
  <% end %>



      <% if @program.present? %>
        <% @program.reviews.each do |review| %>
          <div class="reviews-card border-blue">
              <div class="user-review">
                  <h4><%= review.username %></h4>
                  <time datetime="#" class="card__date"><%= review.created_at.strftime("%d/%m/%y") %></time>
              </div>
              <div class="rating-review">
                    <% Review::AUTHORIZED_RATINGS.each do |number| %>
                      <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
                    <% end %>
                    <h3><%= review.content %></h3>
              </div>
          </div>
        <% end %>
      <% end %>
</div>
