<%# div qui englobe la page show : %>
<div class="program-container">
    <%# div qui engloge la banner donc l'image majoritairement %>
    <div class="program-banner">
      <%= cl_image_tag @program.photo.key %>
      <%# englobe le titre et les boutons sur l'image de la banner %>
      <div class="program-banner-text">
        <h1><strong><%= @program.title %></strong></h1>
         <p><%= @program.description %></p>
        <div class="program-banner-btn">
          <button class="btn-orange">Regarder sur <%= @program.platform.name %></button>
          <button class="btn-orange"><span>Voir la bande-annonce</span></button>
        </div>
      </div>
    </div>
    <div class="program-content">
      <div class="program-content-title-cat-age">
        <h1><strong><%= @program.title %></strong></h1>
        <h2><%= @program.category %></h2>
        <h3>De <%= @program.min_age %> à <%= @program.max_age %> ans</h3>
      </div>
        <p><%= @program.description %></p>
    </div>

<%# à partir de cet endroit, avis laissés sur le programme en question. boucle for each à rajouter %>
  <%= render 'programs/review' %>
</div>
