<div class="btn">
  <i class="fas fa-chevron-left"></i>
  <%= link_to 'Retour à la liste des programmes', programs_path %>
</div>
<%# div qui englobe la page show : %>
<div class="program-container">
    <%# div qui engloge la banner donc l'image majoritairement %>
    <div class="program-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @program.photo.key, crop: :fill %>')">
      <%# englobe le titre et les boutons sur l'image de la banner %>
      <div class="program-banner-text">
        <h1><strong><%= @program.title %></strong></h1>
        <div class="program-banner-btn">
          <%= link_to "Regarder sur #{@program.platform.name}", program_watchings_path(@program), method: :post, class: "btn-orange" %>
          <button class="btn-orange"><span>Voir la bande-annonce</span></button>
        </div>
      </div>
    </div>
    <div class="bg-wrapper">
      <div class="wrapper">
        <div class="program-item bg-grey">
          <div class="program-content">
            <div class="program-content-title-cat-age">
             <%# <h1><strong><@program.title></strong></h1> %>
             <div class="show-categ"><h2><%= @program.category %></h2></div>
             <div class="show-age-range"><h3>De <%= @program.min_age %> à <%= @program.max_age %> ans</h3></div>
            </div>
              <p><%= @program.description %></p>
          </div>
        </div>
        <%# à partir de cet endroit, avis laissés sur le programme en question. boucle for each à rajouter %>
        <%= render 'programs/review' %>
      </div>
    </div>
</div>
