<%# div qui englobe la page show : %>
<div class="program-container">
    <%# div qui engloge la banner donc l'image majoritairement %>
    <div class="program-banner">
      <%# englobe le titre et les boutons sur l'image de la banner %>
      <div class="program-banner-text">
        <h1><strong>SHREK</strong></h1>
        <p>Découvrez Shrek, un ogre très sale, qui ne prend que des bains de boue...</p>
        <div class="program-banner-btn">
          <button class="btn-orange">Regarder sur Netflix</button>
          <button class="btn-orange"><span>Voir la bande-annonce</span></button>
        </div>
      </div>
    </div>

      <%= @program.title %>
      <%= @program.description %>
      <%= @program.category %>
      <%= @program.min_age %>
      <%= @program.max_age %>

</div>
