  <div class="container-home-form">
    <div class="home-form">
      <%= simple_form_for :request, url: programs_path, method: :get do |f| %>
        <div class="home-form-text-field">
        <%= f.input :description, placeholder: "Titre, description...", label: false, required: false, input_html: { value: session[:search][:description] } %>
        </div>
        <div class="home-form-categ-field">
        <%= f.input :category, collection: [""] + Program::CATEGORY, prompt: "Catégorie", label: false, required: false, selected: session[:search][:category] %>
        </div>
        <div class="home-form-age-field col-3">
        <%= f.input :max_age, label: false, placeholder: "Jusqu'à...", as: :numeric, input_html: { min: 0, value: session[:search][:max_age] }, required: false %>
        </div>
        <div class="home-form-length-field">
        <%= f.input :length, collection: [["all", ""]] + Program::LENGTH.map { |l| [l, l]}, prompt: "Durée", label: false, required: false, selected: session[:search][:length] %>
        </div>
        <div class="home-form-submit-btn">
          <%= button_tag type: 'submit' do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
     <% end %>
    </div>
  </div>
