<div class="container-activities">

  <h4>Mon historique :</h4>
    <div class="wrapper-activities">
      <div class="grid-program-activities">
        <% current_user.watchings.each do |watching| %>
          <div class="card-program-activities" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path watching.program.photo.key, crop: :fill %>')" >
              <h4>
                <%= watching.program.title %>
              </h4>
            <div class="watch-date"><%= watching.created_at %></div>
          </div>
        <% end %>
      </div>
    </div>

  <h4>Mes favoris :</h4>
    <div class="wrapper-activities">
      <div class="grid-program-activities">
        <% current_user.favorites.each do |favorite| %>
          <div class="card-program-activities" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path favorite.program.photo.key, crop: :fill %>')" >
            <h4>
              <%= favorite.program.title %>
            </h4>
          </div>
        <% end %>
      </div>
    </div>

  <h4>Mes avis :</h4>
    <div class="activities-reviews-list">

    <% if current_user.reviews.present? %>
        <% current_user.reviews.each do |review| %>
          <div class="activities-reviews-item">
            <%= render 'programs/review' %>
          </div>
        <% end %>
      <% end %>
    </div>

</div>
