<div class="container-activities my-5 pb-5 bg-grey">
  <h4 class="text-center py-5 wrapper-title">Mon historique :</h4>
    <div class="wrapper-activities">
      <div class="grid-program-activities">
        <% current_user.watchings&.group_by{ |w| w.program_id}&.values&.each do |watchings| %>
          <div class="card-program-activities" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path watchings.last.program.photo.key, crop: :fill %>')" >
              <h4>
                <%= watchings.last.program.title %>
              </h4>
              <p><%= watchings.count %> vues </p>
            <div class="watch-date"><%= watchings.last.created_at.strftime("%d/%m/%y") %></div>
          </div>
        <% end %>
      </div>
  </div>
</div>

  <div class="wrapper-activities bg-grey pb-5">
    <h4 class="text-center py-5 wrapper-title">Mes favoris :</h4>
      <div class="grid-program-activities">
        <% current_user.favorites.each do |favorite| %>
          <div class="card-program-activities" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path favorite.program.photo.key, crop: :fill %>')" >
            <h4>
              <%= favorite.program.title %>
            </h4>
          </div>
        <% end %>
      </div>
    </div>

  <div class="activities-reviews-list pb-5 bg-grey">
    <h4 class="text-center py-5 mt-5 wrapper-title">Mes avis :</h4>
      <% if current_user.reviews.present? %>
        <div class="wrapper-activities">
          <div class="grid-reviews-activities">
            <% current_user.reviews.each do |review| %>

            <div class="card text-center review-card" style="width: 18rem;">
              <%= cl_image_tag review.program.photo.key, class: "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title"><%= review.program.title %></h5>
                <time datetime="#" class="card__date"><%= review.created_at.strftime("%d/%m/%y") %></time>
                <div class="rating-review">
                    <p class="card-text"><%= review.content %></p>

                    <% Review::AUTHORIZED_RATINGS.each do |number| %>
                      <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
                    <% end %>
                </div>
              </div>
            </div>
      <% end %>
          </div>
        </div>
      <% end %>
  </div>
