<div class="general-wrap">
<h4>Enfants hébergés sur mon compte :</h4>
  <div class="general-kids-list">
    <% current_user.children.each do |c| %>
      <div class="general-kids-item">
        <%# if Rails.application.assets.present? %>
          <%# if Rails.application.assets.resolve("avatars/#{c.image_url}.png").first %>
          <%= cl_image_tag c.photo.key, class: "avatar-large", alt: "avatar-large"%>
          <%# end %>
        <%# end %>
        <%= link_to c.name, child_path(c),
          method: :delete,
          data: { confirm: "êtes vous sûr(e) de vouloir supprimer cet enfant?" } %>
      </div>
    <% end %>
  <button id="create-child"><i class="fas fa-plus-circle"></i></button>

  <div class="child-add-form disable">
    <%= simple_form_for child do |f| %>
      <%= f.input :name, label: "Prénom"%>
      <%= f.input :age %>
      <div class="avatar-form">
        <%= f.input :image_url,
                    as: :radio_buttons,
                    collection:
                      [
                        [(cl_image_tag 'avatar1_dz8vbc'), 'avatar1_dz8vbc'],
                        [(cl_image_tag 'avatar2_xhwwal'), 'avatar2_xhwwal']
                        [(cl_image_tag 'evpwtmrh4jq4omfvcy9yfxvoek8j')],
                        [(cl_image_tag 'https://res.cloudinary.com/dkeh6owbw/image/upload/v1638457449/production/avatar4_vuugti.png')],
                        [(cl_image_tag 'https://res.cloudinary.com/dkeh6owbw/image/upload/v1638463273/production/fw7oxy0wnyjnngfpxqhb2fq1hbjh.png')]
                        # [(cl_image_tag 'https://res.cloudinary.com/dkeh6owbw/image/upload/v1638457449/production/avatar6_lwmilx.png')],
                        # [(cl_image_tag 'https://res.cloudinary.com/dkeh6owbw/image/upload/v1638457449/production/avatar7_bfovko.png')],
                        # [(cl_image_tag 'https://res.cloudinary.com/dkeh6owbw/image/upload/v1638457449/production/avatar8_mmmtof.png')]
                      ],
                    label_method: :first,
                    value_method: :last,
                    input_html: {data: {form_target: 'input'}, class: "avatar-large avatar-field"}
        %>
      </div>
      <%= f.button :submit %>
    <% end %>
  </div>
  </div>

<h4>Mes comptes :</h4>
  <div class="general-accounts-list">
  <% current_user.platforms.each do |p| %>
    <div class="general-accounts-item">
      <%= link_to p.name, account_path(p),
          method: :delete,
          data: { confirm: "êtes vous sûr(e) de vouloir supprimer ce compte?" } %>
    </div>
  <% end %>
<button id="add-account"><i class="fas fa-plus-circle"></i></button>

  <div class="account-add-form disable">
    <%= simple_form_for @account do |f| %>
      <%= f.association :platform %>
      <%= f.button :submit %>
    <% end %>
  </div>
  </div>

</div>
